<li class="nav-item active">
  <span class="nav-link" id="welcome_msg">Welcome <span><%= current_user["email"] %></span></span>
</li>
<%= link_to "Share a movie", share_path, class: 'btn btn-outline-success my-2 my-sm-0 mr-2', method: 'get' %>
<%= button_to "Logout", log_out_path, class: 'btn btn-outline-secondary my-2 my-sm-0', id: 'logout', method: 'delete', remote: true %>
