<div class="container" style="margin-top: 70px;">
  <% @videos.each do |video| %>
    <div class="row justify-content-center">
      <%= render partial: 'videos/video', locals: {video: video} %>
    </div>
  <% end %>
  
  
</div>
