<div class="container" style="margin-top: 70px;">
  <% @video.each do |video| %>
    <div class="row justify-content-center">
      <%= render partial: 'videos/video' %>
    </div>
  <% end %>
  
  
</div>
